* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #666;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;

    .el-collapse-item__content {
        color: #666;
    }

    th, td, div, span, li, a, input, button, label,
    .el-form-item__label, .el-form-item__label, .el-radio__label, .el-form-item__content,
    .el-menu-item, .el-submenu__title, .el-button, .el-textarea__inner, .el-table,
    .el-input__inner, .el-select-dropdown__item, .el-pagination button, .el-pagination span,
    .el-pagination__sizes, .el-input, .el-input__inner,
    .el-dialog__body, .el-popover, .el-cascader-menu__item, .el-cascader__label, .el-cascader, .el-checkbox__label {
        font-size: 14px;
    }

    #app {
        height: 100%;
    }
}

a {
    text-decoration: none;
    color: #1d90e6;
}

table {
    border-collapse: collapse;
}

img {
    border: none
}

li {
    list-style-type: none;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.el-dialog__wrapper {
    .el-dialog {
        margin-top: 10vh !important;
        max-height: 720px;
        overflow: auto;
    }
}
